<% if flash[:alert] %>

  <h4><%= flash[:alert] %></h4>

<% end %>

<%= link_to "See attractions", attractions_path %>

<h1>User Show Page</h1>

User: <%= @user.name %><br>

<%= "ADMIN" if @user.admin %><br>

Height: <%= @user.height %><br>

Tickets: <%= @user.tickets %><br>

Mood: <%= @user.mood %><br>

Happiness: <%= @user.happiness %><br>

Nausea: <%= @user.nausea %>
