<h1>Attraction Show Page</h1>

<% if @attraction %>

  <% if current_user.try(:admin) %>
    <h4><%= link_to "Edit Attraction", edit_attraction_path(@attraction) %></h4>
  <% end %>

  Name: <%= @attraction.name %><br>

  Tickets: <%= @attraction.tickets %><br>

  Nasua Rating: <%= @attraction.tickets %><br>

  Happiness Rating: <%= @attraction.happiness_rating %><br>

  Minimum Height: <%= @attraction.min_height %><br>

  <% if current_user %>

    <%= form_for @ride do |f| %>
      <%= f.hidden_field :user_id %>
      <%= f.hidden_field :attraction_id %>
      <%= f.submit "Go on this ride", class:"btn btn-blue" %>
    <% end %>

  <% end %>


<% else %>

  <h2>No Attraction Found!</h2>

<% end %>
